# Decision Tree

In [93]:
import pandas as pd
import seaborn as sns

In [94]:
data = pd.read_csv("F:\Technology\Data Science\Machine Learning Projects\Decision Tree\\Titanic.csv")
data.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [95]:
inp = data.drop(['Survived','Name','Siblings/Spouses Aboard','Parents/Children Aboard'],axis=1)
lbl = data['Survived']

In [96]:
from sklearn.preprocessing import LabelEncoder

In [97]:
S = LabelEncoder()

inp['Sex'] = Pc.fit_transform(inp['Sex'])

inp.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    0  38.0  71.2833
2       3    0  26.0   7.9250
3       1    0  35.0  53.1000
4       3    1  35.0   8.0500

In [98]:
from sklearn import tree
from sklearn.model_selection import train_test_split

In [99]:
model = tree.DecisionTreeClassifier()
X_train,X_test,y_train,y_test = train_test_split(inp,lbl,random_state=0)

In [100]:
model.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [101]:
model.score(X_test,y_test)

0.7972972972972973

In [105]:
model.predict([[1
,0
,38.0
,71.2833]])

array([1], dtype=int64)